:root{
    font-family: inter, system-ui, Avenir, Arial, Helvetica, sans-serif
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Por colores card
.bg-green {
    background: #49d0b0;
}

.bg-red {
    background: #fa6d6b;
}

.bg-blue {
    background: #76befe;
}

.bg-yellow {
    background: #ffd76f;
}

.bg-brown {
    background: #544726c8;
}

.bg-purple {
    background: #9a6fff;
}

.bg-black {
    background: #111;
}

.bg-pink {
    background: #fc6cb4;
}

.bg-gray {
    background: #d3d3d3;
}

.bg-white {
    background: #fff;
}

.bg-all {
    background: #999;
}


//SUS TIPOS
.color-normal {
    background-color: #a8a77a;
}

.color-fire {
    background-color: #ee8130;
}

.color-water {
    background-color: #6390f0;
}

.color-electric {
    background-color: #f7d02c;
}

.color-grass {
    background-color: #7ac74c;
}

.color-ice {
    background-color: #96d9d6;
}

.color-fighting {
    background-color: #c22e28;
}

.color-poison {
    background-color: #a33ea1;
}

.color-ground {
    background-color: #e2bf65;
}

.color-flying {
    background-color: #a98ff3;
}

.color-psychic {
    background-color: #f95587;
}

.color-bug {
    background-color: #a6b91a;
}

.color-rock {
    background-color: #b6a136;
}

.color-ghost {
    background-color: #735797;
}

.color-dragon {
    background-color: #6f35fc;
}

.color-dark {
    background-color: #705746;
}

.color-steel {
    background-color: #b7b7ce;
}

.color-fairy {
    background-color: #d685ad;
}

